
* {
    font-family: "Nunito", serif;
    background-color: #000000;
    color: cornsilk;
}

#logo{
    height: 100px;
    width: auto;
    margin-left: -150px;
}

nav ul {
    font-size: 20px;
    list-style-type: none;
    display: flex;
	margin-left: 120px;
	padding-top: 20px;	
}
h1{
    color:#877cff;
}
nav li {
    flex: 0.4;
}

.voiture1-detail{
    font-size: 25px;
}

.voiture2-detail{
    font-size: 25px;
}
.voiture3-detail{
    font-size: 25px;
}
